* {
    /* CSS Reset */
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

.webpage {
    align-items: flex-start;
    background-color: #FFFFFF;
    border: 1px none;
    display: flex;
    flex-direction: column;
    min-height: 5124px;
    overflow-x: hidden;
}

.hidden,
.hidden *{
    pointer-events: none;
    visibility: hidden;
}

.header-montserrat {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #F2D2AE;
    
}

.nav-bar {
    align-items: flex-start;
    display: flex;
    height: 68px;
    left: 0;
    min-width: 1686px;
    position: fixed;
    top: 0;
    z-index: 5;
}

.overlap-group7 {
    align-items: center;
    background-color: #765C3D;
    display: flex;
    height: 68px;
    min-width: 1680px;
    padding: 0 96.2px;
}

.place {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 1000px;
    min-height: 22px;
    text-align: center;
    width: 65px;
}

.link {
    cursor: pointer;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 45px;
    min-height: 22px;
    text-align: center;
    width: 95px;
}

.logo {
    height: 44px;
    object-fit: cover;
    width: 49px;
}

.color-overlay {
    background: rgba(0, 0, 0, 0.59);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.overlap-group10 {
    align-items: flex-start;
    background-image: url(images/pexels-paul-ijsendoorn-33041.png);
    background-size: 100% 100%;
    display: flex;
    gap: 35px;
    min-height: 816px;
    padding: 221px 263px;
    width: 1680px;
    z-index:1;
}

.banner-text-align-left {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 1px;
    min-height: 290px;
    padding: 1px 0;
    width: 493px;
}

.title {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 64px;
    font-weight: 600;
    height: 124px;
    letter-spacing: -1.28px;
    line-height: 72px;
    margin-top: 8px;
    width: 493px;
}

.you-can-use-this {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 30px;
    margin-top: 4px;
    min-height: 124px;
    width: 413px;
}

.base {
    align-items: center;
    background-color: #b49065;
    border-radius: 999px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    justify-content: center;
    padding: 12px 32px;
    position: relative;
    border: 0;
}


.text {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.overlap-group9 {
    align-items: flex-end;
    background-color: #FFFFFF;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    min-height: 3134px;
    padding: 167px 194px;
    width: 1680px;
    z-index: 2;
}

.gallery {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 31px;
    margin-left: 1px;
    min-height: 138px;
    width: 983px;
}

.section-title-1 {
    text-align: center;
    width: 385px;
}

.webpage .section-title-3 {
    height: 49px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
}

.gallery-title {
    color: #755b3c;
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
}

.lorem-ipsum-dolor-1 {
    text-align: center;
    width: 983px;
}

.webpage .lorem-ipsum-dolor-3 {
    letter-spacing: 0;
    line-height: normal;
    min-height: 58px;
}

.lorem-ipsum-font {
    color: #755b3c;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
}

.overlap-group11 {
    align-items: flex-start;
    background-color: #FFFFFF;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    gap: 51px;
    margin-top: 94px;
    min-height: 810px;
    padding: 27px 123px;
    width: 1291px;
    box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.25);
}

.album-card {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap:31px;
    margin-left:31px;
    margin-top:57px;
    min-height:138px;
    width:684px;
}

.section-title {
    height: 49px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    width: 674px;
}

.lorem-ipsum-dolor {
    letter-spacing: 0;
    line-height: normal;
    min-height: 58px;
    width: 684px;
}

.album {
    align-items: flex-start;
    display: flex;
    height: 510px;
    min-width: 1044px;
    padding: 0 30px;
}

.overlap-group {
    height: 401px;
    position: relative;
    width: 983px;
}

.carousel {
    align-items: flex-start;
    display: flex;
    gap: 114px;
    height: 401px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 983px;
}

.carousel-1 {
    align-items: flex-start;
    margin-left: 78px;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.overlap-group8 {
    align-items: center;
    background-color: #fff2e4;
    display: flex;
    gap: 124px;
    min-width: 1680px;
    z-index: 3
}

.contact-us-image {
    height: 1088px;
    width: 808px;
}

.section-title-2 {
    width: 502px;
}

.lorem-ipsum-dolor-2 {
    width: 509px;
}

.contact-us-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 31px;
    min-height: 138px;
    width: 509px;
}

.name {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 42px;
    min-height: 107px;
    width: 509px;
}

.email-address {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 23px;
    min-height: 107px;
    width: 509px;
}

.message {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 23px;
    min-height: 107px;
    width: 509px;
}

.contact-us-font{
    color: #b49065;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
}

.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.placeholder {
    height: 29px;
    letter-spacing: 0;
    line-height: normal;
    width: 473px;
}

.overlap-group1 {
    align-items: flex-start;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #b49065;
    display: flex;
    height: 72px;
    min-width: 509px;
    padding: 21px 16px;
}

.overlap-group2 {
    align-items: flex-start;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #b49065;
    display: flex;
    height: 210px;
    min-width: 509px;
    padding: 21px 16px;
}

.submit-button {
    align-items: flex-start;
    cursor: pointer;
    display: inline-flex;
    margin-top: 42px;
    position: relative;
    border: 0;
}

.footer {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    justify-content: flex-start;
    margin-top: 30px;
    min-width: 1682px;
    width: auto;
    z-index: 4;
}

.overlap-group3 {
    align-items: center;
    background-color: #b49065;
    display: flex;
    height: 56px;
    justify-content: flex-end;
    min-width: 1680px;
    padding: 0 738px;
}

.all-right-reserved {
    color: #fff2e4;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    min-height: 20px;
    min-width: 203px;
    text-align: center;
}