.img_float {
    width: 250px;
    height: 250px;
    /* Float Property can be set either to the left or right. This positioning will depend on the content or 
    siblings of the element you are selecting.*/
    float: right;
    z-index: 1;
}

.parent-element {
    background-color: skyblue;
    padding: 10px;
    /* If the parent element has position: relative, then any children that has position: absolute will
       have their positions based on the parent instead of the whole page itself */
    position: relative;
    height: 800vh;
    /* You can use z-index property for the prioritization of the stack of your elements. You can use negative
       values for the elements that are usually stacked below, and positive values for elements stacked on top. */
    z-index: -1;
}

.child-one {
    background-color: gray;
    padding: 10px;
}

.child-two {
    background-color: yellow;
    padding: 10px;
    /* Static: Default positioning of any element 
       Relative: Opposite of Static, can modify top, left, bottom and right properties to define the exact
       position of the element. And it also depends on the parent element. This element doesnt allow the use of
       top, left, bottom and right properties.
       Absolute: Instead of depending on the parent element, it depends on the whole page itself and you can
       still modify the exact position by using top, left, bottom and right properoties.*/
    /* Fixed - This will attach to the page itself and will not move regardless on if you scroll.*/
    /* Sticky - This will be positioned relative by default but once it reaches a certain scroll point,
       then it will stick to the browser until it is back to it's original position. The top property is crucial
       for it to be able to stick with spacing on the top. */
    /* position: absolute;
    left: 10px;
    bottom: 10px; */
    position: sticky;
    top: 10px;
}

.child-three {
    background-color: indianred;
    padding: 10px;
}

/* Emulate long scrolling page */
html {
    height: 800vh;
}