/* CSS Reset */
* {
    /* Removes default margin and padding in CSS */
    margin: 0;
    padding: 0;
    /* Done to ensure that when we set custom width to elements, 
    there widths will be exact same as the value we set. */
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

button {
    width: 300px;
}

/* Navbar */
nav {
    padding: 0.8rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid gray;
    list-style-type: none;
}

nav .nav, nav .nav-logo {
    margin: 0.5rem;
    display: inline;
}
/* End of Navbar */

/*  Intro Section */
#intro {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;
}

.header {
    text-align: center;
}

#intro h2, #intro p {
    margin-bottom: 1rem;
}

#intro button{
    color: white;
    font-weight: bold;
    background-color: #0000ff;
    border-radius: 25px;
    font-size: 1rem;
    /* When using only one value for the 'padding' property, you are applying for all sides (left, right, top, bottom). */
    padding: 1rem;
    /* You can use 4 values for the 'padding' property to apply styling to each side separately. Order is clockwise or TRBL*/
}
/* End of Intro Section */

/* Succeed Info Section */
#succeed-info{
    padding: 2rem 10% 3rem 10%;
}

#succeed-info h2 {
    margin-bottom: 1rem;
}

#succeed-info h3{
    text-align: center;
    margin-bottom: 1rem;
}

#succeed-info .card {
    display: inline-block;
    vertical-align: top;
    min-height: 175px;
    width: 30%;
    margin: 0 0.5rem 0 0.5rem;
    text-align: justify;
}
/* End of Succeed Info Section */