/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cardHighlight {
    min-height: 100%;
}

.errormsg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}