h3 {
    color: hotpink;
}

/* ID Selector */
/* This ID Selector uses a '#' symbol to signify that it is an ID  */
#zuitt-motto-p {
    letter-spacing: 5px;
}

/* Class Selector */
.offering-item {
    text-transform: uppercase;
}

/* Pirority: Inline > External, can circumvent by adding '!important' */
h1{
    color:blueviolet !important
}

/* Adjacent Sibling Selector*/
h1 + img{
    height: 300px;
    width: 300px;
    border-radius: 150px;
}

/* Descendant Selector */
/* Descendant Selector selects a child f the initial parent sibling */
#bootcamp-learning-list li{
    color: indianred;
}

/* General Sibling Selector */
/* General Sibling selector will select a sibling regardless of how far it is from the initial element */
h2 ~ a{
    text-decoration: none;
    color: black;
}

html {
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    text-align: center;
}

ol {
    list-style-type: none;
    padding: 0;
}